Options +FollowSymLinks
RewriteEngine On


RewriteRule ^pp(.*)$ locked.php?prefix=pp$1 [L]
RewriteRule ^ss(.*)$ locked.php?prefix=ss$1 [L]
RewriteRule ^bb(.*)$ locked.php?prefix=bb$1 [L]
RewriteRule ^contact(.*)$ contact.php [L]
RewriteRule ^home(.*)$ index.php [L]
RewriteRule ^faq(.*)$ faq.php [L]
RewriteRule ^forum(.*)$ forum.php [L]
RewriteRule ^links(.*)$ links.php [L]
RewriteRule ^profile_edit(.*)$ profile_edit.php [L]
RewriteRule ^profile(.*)$ profile.php [L]
RewriteRule ^register(.*)$ register.php [L]
RewriteRule ^forgot_password(.*)$ forgot_password.php [L]

#RewriteRule ^(.*)$ /locked.php?prefix=$1 [L]
#AddType application/x-httpd-php .html .htm





